In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as func

In [2]:
spark = SparkSession.builder.appName('forex').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/yekrangian/Data/MLOps-Tools/venv/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/26 18:02:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
spark.read.option('header','true').csv('EUR_USD_H4.csv').show(10)

+------+--------+------------+------+-------+-------+-------+-------+
|  Date|    Time|Weekday_Name|Volume|   Open|   High|    Low|  Close|
+------+--------+------------+------+-------+-------+-------+-------+
|1/2/22|22:00:00|      Sunday|  2933|1.13725|1.13795|  1.135|1.13588|
|1/3/22| 2:00:00|      Monday|  2947|1.13587|1.13588|1.13361| 1.1338|
|1/3/22| 6:00:00|      Monday|  9165|1.13381|1.13565| 1.1335|1.13518|
|1/3/22|10:00:00|      Monday| 12894|1.13516|1.13664| 1.1346|1.13508|
|1/3/22|14:00:00|      Monday| 21318|1.13507|1.13519|1.12798|1.12838|
|1/3/22|18:00:00|      Monday|  4694| 1.1284|1.13005|1.12834|1.12974|
|1/3/22|22:00:00|      Monday|  2616|1.12965| 1.1309|1.12944|1.13066|
|1/4/22| 2:00:00|     Tuesday|  4266|1.13066|1.13094|1.12954|1.13048|
|1/4/22| 6:00:00|     Tuesday| 12321|1.13047|1.13083|1.12834|1.13022|
|1/4/22|10:00:00|     Tuesday| 16946| 1.1302|1.13056|1.12724|1.12802|
+------+--------+------------+------+-------+-------+-------+-------+
only showing top 10 rows

In [5]:
df_pyspark = spark.read.option('header','true').csv('EUR_USD_H4.csv',inferSchema=True)

In [6]:
df_pyspark = spark.read.csv('EUR_USD_H4.csv', header= True, inferSchema=True)

In [7]:
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Weekday_Name: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)

##### Print the columns

In [8]:
df_pyspark.columns

['Date', 'Time', 'Weekday_Name', 'Volume', 'Open', 'High', 'Low', 'Close']

##### Print the first 5 rows

In [9]:
df_pyspark.head(5)

[Row(Date='1/2/22', Time='22:00:00', Weekday_Name='Sunday', Volume=2933, Open=1.13725, High=1.13795, Low=1.135, Close=1.13588),
 Row(Date='1/3/22', Time='2:00:00', Weekday_Name='Monday', Volume=2947, Open=1.13587, High=1.13588, Low=1.13361, Close=1.1338),
 Row(Date='1/3/22', Time='6:00:00', Weekday_Name='Monday', Volume=9165, Open=1.13381, High=1.13565, Low=1.1335, Close=1.13518),
 Row(Date='1/3/22', Time='10:00:00', Weekday_Name='Monday', Volume=12894, Open=1.13516, High=1.13664, Low=1.1346, Close=1.13508),
 Row(Date='1/3/22', Time='14:00:00', Weekday_Name='Monday', Volume=21318, Open=1.13507, High=1.13519, Low=1.12798, Close=1.12838)]

##### Print the last 5 rows

In [10]:
df_pyspark.tail(5)

[Row(Date='2/25/22', Time='2:00:00', Weekday_Name='Friday', Volume=19004, Open=1.12036, High=1.12288, Low=1.11988, Close=1.12256),
 Row(Date='2/25/22', Time='6:00:00', Weekday_Name='Friday', Volume=49229, Open=1.12256, High=1.12256, Low=1.11693, Close=1.11816),
 Row(Date='2/25/22', Time='10:00:00', Weekday_Name='Friday', Volume=59764, Open=1.11814, High=1.12416, Low=1.1166, Close=1.12368),
 Row(Date='2/25/22', Time='14:00:00', Weekday_Name='Friday', Volume=62493, Open=1.12368, High=1.1267, Low=1.12186, Close=1.12409),
 Row(Date='2/25/22', Time='18:00:00', Weekday_Name='Friday', Volume=20912, Open=1.12408, High=1.12744, Low=1.12408, Close=1.12712)]

##### Show the first 5 rows in dataframe format

In [11]:
df_pyspark.show(5)

+------+--------+------------+------+-------+-------+-------+-------+
|  Date|    Time|Weekday_Name|Volume|   Open|   High|    Low|  Close|
+------+--------+------------+------+-------+-------+-------+-------+
|1/2/22|22:00:00|      Sunday|  2933|1.13725|1.13795|  1.135|1.13588|
|1/3/22| 2:00:00|      Monday|  2947|1.13587|1.13588|1.13361| 1.1338|
|1/3/22| 6:00:00|      Monday|  9165|1.13381|1.13565| 1.1335|1.13518|
|1/3/22|10:00:00|      Monday| 12894|1.13516|1.13664| 1.1346|1.13508|
|1/3/22|14:00:00|      Monday| 21318|1.13507|1.13519|1.12798|1.12838|
+------+--------+------------+------+-------+-------+-------+-------+
only showing top 5 rows

##### Select and show multiple columns

In [12]:
df_pyspark.select(['Open','High','Low','Close']).show(10)

+-------+-------+-------+-------+
|   Open|   High|    Low|  Close|
+-------+-------+-------+-------+
|1.13725|1.13795|  1.135|1.13588|
|1.13587|1.13588|1.13361| 1.1338|
|1.13381|1.13565| 1.1335|1.13518|
|1.13516|1.13664| 1.1346|1.13508|
|1.13507|1.13519|1.12798|1.12838|
| 1.1284|1.13005|1.12834|1.12974|
|1.12965| 1.1309|1.12944|1.13066|
|1.13066|1.13094|1.12954|1.13048|
|1.13047|1.13083|1.12834|1.13022|
| 1.1302|1.13056|1.12724|1.12802|
+-------+-------+-------+-------+
only showing top 10 rows

##### Select and show single column

In [13]:
df_pyspark.select(['Close']).show(5)

+-------+
|  Close|
+-------+
|1.13588|
| 1.1338|
|1.13518|
|1.13508|
|1.12838|
+-------+
only showing top 5 rows

##### Describe a column

In [14]:
df_pyspark.select(['Volume']).describe().show()

+-------+------------------+
|summary|            Volume|
+-------+------------------+
|  count|               240|
|   mean|16518.058333333334|
| stddev|14999.140562433759|
|    min|               954|
|    max|             88517|
+-------+------------------+

##### Round

In [15]:
df_pyspark = df_pyspark.withColumn('Open', func.round(df_pyspark['Open'], 4))
df_pyspark = df_pyspark.withColumn('High', func.round(df_pyspark['High'], 4))
df_pyspark = df_pyspark.withColumn('Low', func.round(df_pyspark['Low'], 4))
df_pyspark = df_pyspark.withColumn('Close', func.round(df_pyspark['Close'], 4))

##### Add a column

In [16]:
df_pyspark = df_pyspark.withColumn('Price Range', func.round(df_pyspark['Open'] - df_pyspark['Close'], 4))

In [17]:
df_pyspark.show(5)

+------+--------+------------+------+------+------+------+------+-----------+
|  Date|    Time|Weekday_Name|Volume|  Open|  High|   Low| Close|Price Range|
+------+--------+------------+------+------+------+------+------+-----------+
|1/2/22|22:00:00|      Sunday|  2933|1.1373| 1.138| 1.135|1.1359|     0.0014|
|1/3/22| 2:00:00|      Monday|  2947|1.1359|1.1359|1.1336|1.1338|     0.0021|
|1/3/22| 6:00:00|      Monday|  9165|1.1338|1.1357|1.1335|1.1352|    -0.0014|
|1/3/22|10:00:00|      Monday| 12894|1.1352|1.1366|1.1346|1.1351|     1.0E-4|
|1/3/22|14:00:00|      Monday| 21318|1.1351|1.1352| 1.128|1.1284|     0.0067|
+------+--------+------------+------+------+------+------+------+-----------+
only showing top 5 rows

##### Rename a column

In [20]:
df_pyspark = df_pyspark.withColumnRenamed('Price Range', 'Price_Range')

In [22]:
df_pyspark.show(5)

+------+--------+------------+------+------+------+------+------+-----------+
|  Date|    Time|Weekday_Name|Volume|  Open|  High|   Low| Close|Price_Range|
+------+--------+------------+------+------+------+------+------+-----------+
|1/2/22|22:00:00|      Sunday|  2933|1.1373| 1.138| 1.135|1.1359|     0.0014|
|1/3/22| 2:00:00|      Monday|  2947|1.1359|1.1359|1.1336|1.1338|     0.0021|
|1/3/22| 6:00:00|      Monday|  9165|1.1338|1.1357|1.1335|1.1352|    -0.0014|
|1/3/22|10:00:00|      Monday| 12894|1.1352|1.1366|1.1346|1.1351|     1.0E-4|
|1/3/22|14:00:00|      Monday| 21318|1.1351|1.1352| 1.128|1.1284|     0.0067|
+------+--------+------------+------+------+------+------+------+-----------+
only showing top 5 rows